<%= form_for(@cup) do |f| %>
  <% if @cup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cup.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @cup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <p>Die folgenden Felder werden benötigt, um einen Wettbewerb automatisiert über openLigaDB einzurichten. Die entsprechenden Angaben finden sich auf http://www.openligadb.de/</p>

  <div class="field">
    <%= f.label :league_shortcut %><br />
    <%= f.text_field :league_shortcut %>
  </div>

  <div class="field">
    <%= f.label :league_season %><br />
    <%= f.text_field :league_season %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
