<h1>Wettbewerb automatisieren</h1>

<div class="row">
	<div class="span4">
		<div class="post_preview">
			<h3>1. Teams erstellen</h3>
			<p>Alle Teams des Wettbewerbes von openLigaDB holen. Abgleichen, ob Team schon vorhanden. Wenn ja, openLigaDB-TeamID erstellen. Wenn nein, Team neu erstellen.
			Die Akronyme sollten manuell angepasst werden!</p>
			<%= link_to "Go!", automate_cup_path(:task => 'get_teams'), :class => "btn btn-success" %>
		</div>
	</div>

	<div class="span4">
		<div class="post_preview">
			<h3>2. Spieltage erstellen</h3>
			<p>Zu Beginn eines Cups werden hiermit die Spieltag initial erstellt.</p>
			<%= link_to "Go!", automate_cup_path(:task => 'get_rounds'), :class => "btn btn-success" %>
		</div>
	</div>
	<div class="span4">
		<div class="post_preview">
			<h3>3. Spiele erstellen</h3>
			<p>Zu Beginn eines Cups werden hiermit die Spieltag initial erstellt.</p>
			<%= link_to "Go!", automate_cup_path(:task => 'get_games'), :class => "btn btn-success" %>
		</div>
	</div>
</div>
<div class="row">
	<div class="span4">
		<div class="post_preview">
			<h3>Anstoßzeiten aktualisieren</h3>
			<p>Überprüft die aktuelle und drei folgenden Spieltag auf Änderungen der Anstoßzeiten.</p>
			<%= link_to "Go!", automate_cup_path(:task => 'update_game_dates'), :class => "btn btn-success" %>
		</div>
	</div>
	<div class="span4">
		<div class="post_preview">
			<h3>Ergebnisse bei aktuellem Spieltag eintragen</h3>
			<p>Spiele des aktuellen Spieltages des Wettbewerbes werden erfasste und die Ergebnisse - soweit sie vorliegen - eingetragen.</p>
			<%= link_to "Go!", automate_cup_path(:task => 'fix_current_results'), :class => "btn btn-success" %>
		</div>
	</div>

	<div class="span4">
		<div class="post_preview">
			<h3>Ergebnisse bei speziellem Spieltag eintragen</h3>
			<p>Funktioniert noch nicht... Bitte trage die Position ('Leg') des Spieltages ein:</p>

			<form method="get">
				<%= hidden_field_tag :task, 'fix_certain_results' %>
				<%= number_field_tag :round %> 
				<input type="submit" value="Go!" %>
			</form>

		</div>
	</div>
</div>
<div class="row">
	<div class="span8">
		<% unless @messages.empty? %>
			<div class="well">
				<h4>Log:</h4>
				<ul>
				<% @messages.each do |m| %>
					<li><%= m %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
	</div>
</div>
<%= link_to 'Wettbewerbsübersicht', cups_path %>
