<h1>Tippübersicht</h1>

<table class="table table-striped table-condensed">
	<tr>
		<th>Spiel</th>
		<th>Ergebnis</th>
		<% @users.each do |user| %>
			<th><%= user.email %></th>
		<% end -%>
	</tr>
	<% @game_bets.each do |game, bets| %>
		<tr>
			<td><%= Team.find(game.home_team).name %> - <%= Team.find(game.away_team).name %></td>
			<td>
				<% if game.away_score.nil? %>
					-:-
				<% else %>
					<%= game.home_score %> : <%= game.away_score %>
				<% end -%>
			</td>
			<% @users.each do |user| %>
				<% if user == current_user %>
					<% if bets.has_key?(user) %>
						<td><%= bets[user].home_bet %> : <%= bets[user].away_bet %>
						<% unless bets[user].points.nil? %>
							 | <b><%= bets[user].points %></b>
						<% end -%>
						</td>
					<% else %>
						<td> </td>
					<% end -%>
				<% else %>
					<% if Time.now >= game.kickoff %>
						<% if bets.has_key?(user) %>
							<td><%= bets[user].home_bet %> : <%= bets[user].away_bet %>
							<% unless bets[user].points.nil? %>
								 | <b><%= bets[user].points %></b>
							<% end -%>
							</td>
						<% else %>
							<td> </td>
						<% end -%>
					<% else %>
						<td>-:-</td>
					<% end -%>
				<% end -%>
			<% end -%>
		</tr>
	<% end -%>
	<tr>
		<td></td>
		<td><b>Punkte:</b></td>
		
		<% @users.each do |user| %>
			<td>
			<b><%= sum_points(user) %></b>
			</td>
		<% end -%>
</table>