
<form method="get">
	<%= select_tag(:cup_id, options_from_collection_for_select(@cup_options, "id", "name", selected = @cup.id)) %>
	<input type="submit" value="Filter" %>
</form>

<div class="main_content">
	<table class="table table-striped table-condensed">
		<tr>
			<th>User</th>
			<th>Gesamtpunkte</th>
			<% @rounds.each do |round| %>
				<th><%= round.name %></th>
			<% end %>
		</tr>
		
			<% if @users.nil? %>
				<tr>
					<td><%= link_to @user.username, user_path(@user) %></td>
					<td><%= @cup_points %></td>
					<% @rounds.each do |round| %>
						<td><strong><%= get_round_points(@user, round)%></strong></td>
					<% end %>
				</tr>
			<% else %>
				<% @rankingusers.sort_by {|key, value| value}.reverse.each do |user_id, cup_points| %>
					<tr>
						<% user = User.find(user_id) %>
						<% if user == current_user %>
							<td><strong><%= link_to user.username, user_path(user) %></strong></td>
							<td><strong><%= cup_points %></strong></td>
							<% @rounds.each do |round| %>
								<td><strong><%= get_round_points(user, round)%></strong></td>
							<% end %>
						<% else %>
							<td><%= link_to user.username, user_path(user) %></td>
							<td><%= "#{cup_points}" %></td>
							<% @rounds.each do |round| %>
								<td><%= get_round_points(user, round)%></td>
							<% end %>
						<% end %>
					</tr>
				<% end %>
			<% end %>
		</tr>
	</table>
</div>