<h3>Spieltage von <%= @cup.name %></h3>

<table class="table table-striped table-condensed">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Spiele</th>
    <th>Zeitraum</th>
    <th>openLigaDB-ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

    <% @rounds.each do |round| %>
        <% g = Game.where(:round_id => round.id) %>
        <tr>
            <td><%= round.leg %></td>
            <td><%= round.name %></td>
            <td> 
                <%= g.count %>
            </td>
            <td>
                <% if g.count == 0 %>
                    -
                <% else %>
                    <% gfirst = g.order('kickoff').first %>
                    <%= gfirst.kickoff.strftime("%d.%m.%y") %> - 
                    <% glast = g.order('kickoff').last %>
                    <%= glast.kickoff.strftime("%d.%m.%y") %>
                <% end %>
            </td>
            <td><%= round.open_liga_id %></td>
            <td><%= link_to 'ansehen', games_path(:round_id => round.id) %></td>
            <td><%= link_to 'ändern', edit_cup_round_path(@cup, round) %></td>
            <td><%= link_to 'löschen', [@cup, round], :confirm => 'Sicher? Runden nur löschen, wenn keine Spiele mehr an diesem Spieltag!!', :method => :delete %></td>
        </tr>
    <% end %>
</table>

<br />

<%= link_to 'Neue Runde', new_cup_round_path %> <br />
<%= link_to 'Wettbewerbsübersicht', cups_path %> <br />

<%= link_to 'Zurück zur Admin Übersicht', admin_path %>