<h1>User Index</h1>

<table class="table table-striped table-condensed">
  <tr>
    <th>E-Mail</th>
    <th>Erstellt am</th>
    <th>Letzer Log In</th>
    <th>Log Ins</th>
    <th>Tipps</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.created_at.strftime("%d.%m.%y %H:%M") %></td>
    <td><%= user.last_sign_in_at.strftime("%d.%m.%y %H:%M") %></td>
    <td><%= user.sign_in_count %></td>
    <td><%= user.bets.count %></td>
    <td><%= link_to 'Löschen', user, :confirm => 'Bist Du sicher?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Zurück zur Admin Übersicht', admin_path %>