<div class="row">
	<% if user_signed_in? %>
			<div class="span8" id="user_news">
				<% if @user.community_id.nil? %>
					<%= render 'shared/community_menu' %>
					<%= render 'tipp2_news' %>
				<% else %>
					<%= render 'community_news' %>
				<% end %>
			</div>
	<% else %>
		<div class="span8" id="welcome">
			<div class="hero-unit">
				<%= render 'welcome' %>
			</div>
		</div>
	<% end %>

	<div class="span4">
		<%= render 'next_games' %>
	</div>

</div>



