<div class="row">
	<% if user_signed_in? %>
			<div class="span8" id="user_news">
				<div class="news">
					<h2>Neuigkeiten</h2>
					<p></p>
					<% @posts.each do |post| %>
						<%= post.created_at.strftime("%d.%m.%y %H:%M")%>
						<h4><%= post.headline %></h4>
						<p><%= truncate(post.content, :length => 120, :separator => ' ') %>
						<% if post.content.length > 120 %>
							<%= link_to "mehr", post %>
						<% end %>
						</p>
					<% end %>
				</div>
			</div>
			
	<% else %>
		<div class="span8" id="welcome">
			<div class="hero-unit">
				<h1>Das Tippspiel...</h1>
				<p>...für coole Leute. Melde Dich an, tippe auf Spiele, sammel Punkte und beeindrucke deine Freunde mit Fussball-Sachverstand :-)</p>
				
				<p><%= link_to "Jetzt registrieren", new_user_registration_path, :class => "btn btn-success btn-large" %></p>
				<%= link_to "Schon angemeldet? Log in!",  user_session_path, :class => "zusatzlink" %>
			</div>
		</div>
	<% end %>


	<div class="span4">

		<%= render 'feedback' %>

		<h2>Nächste Spiele</h2>
		<table class="table table-striped table-condensed">
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<% if user_signed_in? %>
					<th>Tipp</th>
					<th>Anstoß</th>
				<% else %>
					<th></th>
					<th></th>
				<% end %>
			</tr>
			<% @games.each do |game| %>
				<tr>
					<% home_team = Team.find(game.home_team) %>
					<% away_team = Team.find(game.away_team) %>
					<td><%= truncate(home_team.name, :length => 12) %></td>
					<td> - </td>
					<td><%= truncate(away_team.name, :length => 12) %></td>
					<% if user_signed_in? %>
						<% user_bet = @bets.where(:game_id => game.id).first %>
						<% if user_bet.nil? %>
							<td>- : -</td>
						<% else %>
							<td><%= user_bet.home_bet %> : <%= user_bet.away_bet %></td>
						<% end %>
					<% end %>
					<td><%= distance_of_time_in_words(Time.now, game.kickoff) %></td>
				</tr>	
			<% end %>
		</table>
	</div>

</div>



