<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :round_id, :value => @round.id %>

  <h4>Wettbewerb: <%= @cup.name %></h4>
  <h4>Spieltag: <%= @round.name %></h4>
  <br><br>

  <div class="field">
    <%= f.label :kickoff %><br />
    <%= f.datetime_select :kickoff %>
  </div>
  <div class="field">
    <%= f.label :home_team %><br />
    <%= collection_select(:game, :home_team, @teams, :id, :name, options ={:prompt => "Team auswählen"}) %>
  </div>
  <div class="field">
    <%= f.label :away_team %><br />
    <%= collection_select(:game, :away_team, @teams, :id, :name, options ={:prompt => "Team auswählen"}) %>
  </div>
  <!--hier waren mal die felder fuer die Ergebnisse -->
  <% unless @game.away_score.nil? %>
    <div class="field">
      <%= f.label :home_score %><br />
      <%= f.number_field :home_score %>
    </div>
    <div class="field">
      <%= f.label :away_score %><br />
      <%= f.number_field :away_score %>
    </div>
  <% end -%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
