<p id="notice"><%= notice %></p>

<p>
  <b>Anstoß:</b>
  <%= @game.kickoff.strftime("%d.%m.%y %H:%M") %>
</p>

<p>
  <b>Wettbewerb:</b>
  <%= @cup.name %>
</p>

<p>
  <b>Spieltag:</b>
  <%= @round.name %>
</p>

<p>
  <b>Heim:</b>
  <%= @game.hometeam %>
</p>

<p>
  <b>Auswärts:</b>
  <%= @game.awayteam %>
</p>

<p>
  <b>Home score:</b>
  <%= @game.homescore %>
</p>

<p>
  <b>Away score:</b>
  <%= @game.awayscore %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path(:round_id => @round.id) %>

