<div class="row">
	<div class="span8">
		<div class="main_content">
			<h2>Community <%= @community.name %></h2>

			<p>Community-Administrator: <%= @admin.username %></p>

			<p><%= @members.count %> Mitglieder:</p>

			<ul>
				<% @members.each do |m| %>
					<li><%= link_to m.username, user_path(m) %>

					 | <a href="mailto: <%= m.email %>">E-Mail schreiben</a>
						<% if current_user.id === @community.admin_id %>
								<% unless m.id === current_user.id %>
									 | <%= link_to "Spieler aus der Community werfen",  kick_out_communities_path(:user_id =>m.id), :confirm => 'Sicher? Du solltest hierfür gute Gründe haben!' %>
								<% end %>
						<% end %>
					</li>
						<!-- hier muss später das Profil verlinkt sein -->
				<% end %>
			</ul>

			<% if user_signed_in? %>
				<% if current_user.id === @community.admin_id %>
					<h3>Community-Admin Optionen</h3>

					<p>Du bist Administrator dieser Community.</p>

					<p><%= link_to "Leute einladen", invite_communities_path, :class => "btn" %></p>

					<p><%= link_to "Name oder Passwort ändern", edit_community_path, :class => "btn" %></p>

					<p><%= link_to 'Community löschen', @community, :confirm => 'Sicher? Alle restlichen Mitglieder werden aus der Community entfernt! Du kannst auch unter deinem Nutzer-Profil einfach aus der Community austreten und ein anderer Spieler wird Administrator.', :class => "btn", :method => :delete %></p>
				<% end %>
			<% end %>
			<% if admin_signed_in? %>
				<%= link_to 'Zurück zur Community Übersicht', communities_path %>
			<% end %>
		</div>
	</div>
</div>
