<div id="header">
  <div id="logo">
    <% logo = image_tag("tipp2_logo_col.gif", :alt => "tipp2") %>
    <%= link_to logo, root_path %>
  </div>
  <div id="head_right">
    <div id="session_info">
      <% if user_signed_in? %>
          Angemeldet als <%= current_user.email %>. Nicht du?
          <%= link_to "abmelden", destroy_user_session_path, :method => :delete %>
      <% else %>
          <%= link_to "registrieren", new_user_registration_path %> or
          <%= link_to "anmelden", new_user_session_path %>
      <% end %>

      <% if admin_signed_in? %>
          <br> Angemeldet als Admin <%= current_admin.email %>. Nicht du?
          <%= link_to "abmelden", destroy_admin_session_path, :method => :delete %> <%= link_to 'Backend', admin_path %>
      <% end %>
    </div>
    </br>
    <div id="timenow">
      <%= Time.now.strftime("%d.%m.%y %H:%M") %> 
    </div>
  </div>
  <div id="navigation">
    <ul id="nav">
      <li id="li_home"><%= link_to "Home", root_path %></li>
      <li id="li_abgabe"><%= link_to "Tippabgabe", abgabe_path %></li>
      <li id="li_uebersicht"><%= link_to "Tippübersicht", uebersicht_path %></li>
      <li id="li_uebersicht"><%= link_to "Spielstand", ranking_path %></li>
    </ul>
  </div>
    
</div>